#walletsTable td {
    white-space: nowrap;
}

.popover-qr {
    max-width: 300px;
}

.qr-icon-small {
	height: 20px;
	width: 20px;
}

#qrCodeImage {
  width: 100%;
  height: 100%;
}

#qr-wallet-value {
	width: 100%;
	text-align: center;
}

#qr-address-value {
	width: 100%;
	text-align: center;
	font-size: 13px;
}

